<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      

      <td>
        <%= link_to  article_path(article), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-search"></span>
         Show
        <% end %>
      </td>
     
    <td>
      <%= link_to edit_article_path(article), class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    </td>

    <td>
       <%= link_to article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
       <span class="glyphicon glyphicon-remove"></span>
         Destroy
      <% end %>
    </td>

  <% end %>
</table>